@import "reset";
@import "static/font/stylesheet.css";
@import "static/font/stylesheetLCG.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Graphik LCG', 'Graphik', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}


.vuecal__event.leisure {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}

.vuecal__event.sport {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}

/* Green-theme. */
.vuecal__menu, .vuecal__cell-events-count {
  background-color: #42b983;
}

.vuecal__title-bar {
  background: #FAD150;
}

.vuecal__cell--today, .vuecal__cell--current {
  background-color: rgba(240, 240, 255, 0.4);
}

.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  background-color: rgba(235, 255, 245, 0.4);
}

.vuecal__cell--selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}

/* Cells and buttons get highlighted when an event is dragged over it. */
.vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
.vuecal__cell-split--highlighted {
  background-color: rgb(241, 237, 2);
}

.vuecal__arrow.vuecal__arrow--highlighted,
.vuecal__view-btn.vuecal__view-btn--highlighted {
  background-color: rgba(136, 236, 191, 0.25);
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}

.fade-enter, .fade-leave-to {
  transition: opacity .1s;
  opacity: 0;
}

.vuecal__cell-events {

  .vuecal__event {
    background: #FFCC33;
    color: black;
  }
}


.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFCC33;
  border-radius: 32px;

  font-weight: 500;
  font-size: 14px;
  height: 46px;
  width: 100%;
  cursor: pointer;
}
